<?xml version="1.0" encoding="utf-8" ?>
<LodelPlugin>
	<title>pdfgen</title>
	<description>Générateur de PDF pour Lodel.</description>
	<sql>0</sql>
	<hookType>class</hookType>
	<hook>class</hook>
	<triggers>preview</triggers>
	<parameters>
		<param name="pdf_sitelogo" title="Logo du site" type="file" defaultValue="" required="false" />
		<param name="gotenberg_url" title="URL du service Gotenberg" type="text" defaultValue="https://" required="true" />
	</parameters>
</LodelPlugin>
